header {
    background-color: #EFE7DC;
}
nav {
    background-color: #5E4CAE;
}

footer {
    background-color: #2A2A13;
}
main{
    background-color: #EFE7DC;
}

#git_hub_button {
    background-color: white;
    color: blue;
}

